/* Exercise 1: */

/* .GreenBorder{
    border-width: thick;
    border:  5px solid green;
}

.RedBorder{
    border-width: thick;
    border:  5px solid red;
}

.OrangeBorder{
    border-width: thick;
    border:  5px solid orange;
}

.PurpleBorder{
    
border-width: thick;
border:  5px solid purple;
    
}

.BlueBorder{
    
    border-width: thick;
    border:  5px solid blue;
        
    }

.aquaText{
    color: aqua;
    
}

h1{
    color: aqua;
    font-family: 'Cutive Mono', monospace;
}

h2{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
} */

/* Exercise 2:  */



/* body{
margin-left: 10px ;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 0px;
background-image: url("images/background.gif");
}

.GreenBorder{
    border-width: thick;
    border:  5px solid green;
    background-color: white;
}

.RedBorder{
    border-width: thick;
    border:  5px solid red;
}

.OrangeBorder{
    border-width: thick;
    border:  5px solid orange;
}

.PurpleBorder{
    
border-width: thick;
border:  5px solid purple;
    
}

.BlueBorder{
    
    border-width: thick;
    border:  5px solid blue;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    }

.aquaText{
    color: aqua;
   
}

h1{
    color: aqua;
    font-family: 'Cutive Mono', monospace;
}

h2{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
} */

/* Exercise:3  */
/* 
body{
    margin-left: 10px ;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("images/background.gif");
    }
    
    .GreenBorder{
        border-width: thick;
        border:  5px solid green;
        background-color: white;
    }
    
    .RedBorder{
        border-width: thick;
        border:  5px solid red;
    }

    .TextRight{
        text-align: right;
    }
    
    .ImageRight{
        float: right;
    }

    
    .OrangeBorder{
        border-width: thick;
        border:  5px solid orange;
    }
    
    .PurpleBorder{
        
    border-width: thick;
    border:  5px solid purple;
        
    }
    
    .BlueBorder{
        
        border-width: thick;
        border:  5px solid blue;
        background-color: #E8FBFB;
        padding: 5px;
        margin-top: 10px;
        overflow: auto;
        }
    
    .aquaText{
        color: aqua;
        clear: left;
    }
    
    h1{
        color: aqua;
        font-family: 'Cutive Mono', monospace;
    }
    
    h2{
        color: aqua;
        font-family: 'Courier New', Courier, monospace;
    } */


/* Exercise 4-6 */

body{
    margin-left: 10px ;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("images/background.gif");
    }
    
.GreenBorder{
        border-width: thick;
        border:  10px solid white;
        background-color: white;
        overflow: auto;
        /* clear: both; */
        
    }
    
.RedBorder{
        
        background-color:  #A8F0F0;
    }

.TextRight{
        text-align: right;
    }
    
.ImageRight{
        float: right;
    }

.FloatRight{
        float: right;
        width: 70%;
    }
    
.OrangeBorder{
        border-width: thick;
        /* border:  5px solid orange; */
    }
    
.PurpleBorder{
        
    border-width: thick;
    border-bottom:  2px solid blue;
    border-bottom: dashed;
   

        
    }
    
.BlueBorder{
        
        border-width: thick;
        border:  4px solid #C2E9E9;
        background-color: #E8FBFB;
        padding: 5px;
        margin-top: 10px;
        overflow: auto;
        
        }
    
.aquaText{
        color: rgb(79, 148, 148);
        clear: left;
    }
    
h1{
        color: rgb(39, 102, 102);
        font-family: 'Cutive Mono', monospace;
    }
h2{
        color: rgb(39, 102, 102);
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
    }

.friends{
    background-color: rgb(47, 231, 231);
    border: 5px solid rgb(39, 102, 102);
    float: left;
    padding: 10px;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

