.Header{
    text-align: center;
}
body{
    background-color: rgb(0, 225, 255);
}
.image{
    width:100px;
    /* align-items: center; */
    /* text-align: center; */
    /* background-image: none; */
}

.field{
    border-color: black;
    border-width: thin;
    border-radius: 4px;
    margin: 20px;
}

.center{
    text-align: center;
}
.slider{
    background-color: #d3d3d3;
    color: #d3d3d3;
}



.size{
    font-size: large;
}

/* input[type=range]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    background: #434343;
    
  } */

.address{
    margin-left: 30%;
    margin-right: 30%;
   width: 40%;
   line-height: 2;
    

}

.texts{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border-width: thin;
}

#OrderSummary{
    width: 50vw;
    margin-left: 25vw;
    padding: 10px;
    border-radius: 10px;
    border-color: green;
    border-style: solid;
    border-width: thick;
    background-color: #ffffff;
   }

   .next1{
       
       margin-left: 30px;
       font-size: large;
   }
   .next2{
       
    margin-left: 20px;
    font-size: large;
    float: left;
}

   
   .back{
    float: left;
    margin-left: 20px;
    font-size: large;
}

.back2{
    float: left;
    margin-left: 400px;
    font-size: large;
}